<ActionBar class="action-bar">
    <Image class="img-circle m-b-10 Syscom-Plc-logo-small" src="~/images/Syscom-Plc-logo.jpg" width="150"  loadMode="async"> </Image>

    <Label class="action-bar-title" text="Sales Order Entry"></Label>
</ActionBar>

<!--<ActionBar class="action-bar" title="test" style="color: white; background-color: darkgray;">
    <StackLayout orientation="horizontal"
      ios:horizontalAlignment="center"
      android:horizontalAlignment="center">
      <Image src="~/images/SyscomIcon.png" width="20" height="20" class="action-image" ></Image>
      <Label text=" Sales Order Entry " class="action-bar-title" style="background-color:darkgray"></Label> 
      <Image src="~/images/castlelogo.png" width="20" height="20" class="action-image" ></Image>
    </StackLayout>
  </ActionBar>-->

<StackLayout class="form" sdkExampleTitle sdkToggleNavButton>
    <StackLayout class="page page-content">
    <StackLayout [style.visibility]="OrderVisbilty" class=" form window m-t-9 m-b-5">

        <Label class="boxlabel" text="Customer Code" textWrap="true"></Label>
    <!--    <TextField class="input input-border m-t-9 m-b-5" hint="Customer Code" [(ngModel)]="CustomerCode" editable="true" ></TextField> -->
    
    <DropDown
    class="input input-border m-t-9 m-b-5"
    backroundColor="red"
    itemsTextAlignment="center"
    [items]="CustomerCodes"
    [(ngModel)]="selectedCustomerIndex"
    (selectedIndexChanged)="onCustomerCodeChange($event)"
    (opened)="onCustomerOpen()"
    (closed)="onclose()"
    hint = "Select Customer Code"
 
    ></DropDown>


        <Label class="boxlabel" text="Customer Purchase Order" textWrap="true"></Label>
        <TextField class="input input-border" hint="Customer Purchase Order" [(ngModel)]="CustomerPurchaseOrder" editable="true" ></TextField>


       <!-- <Label class="boxlabel" text="Warehouse Code" textWrap="true"></Label>
        <TextField class="input input-border" hint="Warehouse Code" [(ngModel)]="WarehouseCode" editable="true" ></TextField> -->


        <Button  class="btn btn-primary btn-purple btn-active" [isEnabled]="orderLinesEnabled"    text="Show Order Lines" (tap)="showOrderLines()"></Button>

        <Button  class="btn btn-primary btn-sky btn-active"  [isEnabled]="deliveryAddressEnabled"   text="Change Delivery Address" (tap)="showDeliveryAddress()"></Button>
      
        <Button  class="btn btn-primary btn-sky btn-active"  [isEnabled]="AddChargesEnabled"   text="Change Additional Charges" (tap)="showAddCharges()"></Button>

        <Button   colSpan="2" class="btn btn-primary btn-forest btn-active" [isEnabled]="summaryEnabled"       text="Show Order Summary " (tap)="showOrderSummary()"></Button>


    </StackLayout>
    <ScrollView (scroll)="onScroll($event)" [style.visibility]="ItemVisbilty"  [scrollY] ="scrollYPos" height = "4000px" > // ITEM START
    <StackLayout > 
        <StackLayout  class=" form window m-t-9 m-b-5">
         <Label  class="boxlabel" text="Line Number" textWrap="true"></Label>
        <TextField   class="input input-border" hint="" [(ngModel)]="LineNumber" editable="false" ></TextField>

        <Label  class="boxlabel"  text="Generic Item Code" textWrap="true"></Label>
      <!--  <TextField   class="input input-border" hint="Item Code" [(ngModel)]="ItemCode" editable="true" ></TextField> -->
      <DropDown
      class="input input-border"
      backroundColor="red"
      itemsTextAlignment="center"
      [items]="GenericItems"
      [(ngModel)]="selectedGenericIndex"

      (selectedIndexChanged)="onchange($event)"
      (opened)="onopen()"
      (closed)="onclose()"
      hint = "Select Item code"
      ></DropDown>
        
        </StackLayout> 
     <StackLayout  >
     <GridLayout   rows="auto,auto" columns="auto,*">

        <DropDown
        class="input input-border"
        backroundColor="red"
        itemsTextAlignment="center"
        [items]="Attribute1"
        [(ngModel)]="selectedAtt1Index"
        (selectedIndexChanged)="onAttribute1change($event)"
        (opened)="onopen()"
        (closed)="onclose()"
        hint = "Select Colour"
        row="1" col = "0"
        ></DropDown>



        <DropDown
        class="input input-border"
        backroundColor="red"
        itemsTextAlignment="center"
        [items]="Attribute2"
        [(ngModel)]="selectedAtt2Index"
        (selectedIndexChanged)="onAttribute2change($event)"
        (opened)="onopen()"
        (closed)="onclose()"
        hint = "Select Size"
        row="1" col = "1"
        ></DropDown>



       </GridLayout>  
    </StackLayout>


     <GridLayout    rows="20,50,20,50" columns="*,*,*">
       
        <Label row="0"  col = "1"  class="boxlabel"  text="Quantity" textWrap="true"></Label>

        <Button row="1" col = "0" height = "100%" [isEnabled]="minusQtyEnabled"  text="&#xf068; " fontFamily="FontAwesome" class="btn btn-primary btn-active"  (tap)="minusQty()"></Button>
    <TextField row = "1" col = "1" class="input input-border" keyboardType ="number" hint="Quantity" [(ngModel)]="Quantity" editable="true" ) ></TextField>
    <Button row="1" col = "2" text="&#xf067; " fontFamily="FontAwesome" height = "100%" class="btn btn-primary btn-active"  (tap)="addQty()"> </Button>

    <Label row="2"  col = "0"  class="boxlabel"  text="Price" textWrap="true"></Label>
    <TextField row = "3" col = "0" class="input input-border" keyboardType ="number" hint="Price" [(ngModel)]="Price" editable="false" ></TextField>


    <Label row="2"  col = "1"  class="boxlabel"  text="Currency" textWrap="true"></Label>
    <TextField row = "3" col = "1" colspan= "2" class="input input-border" keyboardType ="number" hint="Currency" [(ngModel)]="Currency" editable="false" ></TextField>


       </GridLayout>  

        
        <GridLayout    rows="auto, auto, auto,auto,auto,auto,auto" columns="*,*">
         

        <Button row="0" col = "0"   colSpan="2" class="btn btn-primary btn-forest btn-active "    text="Add New Order Line" (tap)="addOrderLine()"> </Button>


        <Button row="1" col = "0" class="btn btn-primary btn-active" text="Previous Line" [isEnabled]="previousLineEnabled" (tap)="previousOrderLine()"></Button>
        <Button row="1" col = "1"  class="btn btn-primary btn-active" text="Next Line" [isEnabled]="nextLineEnabled" text="Next Line" (tap)="nextOrderLine()"></Button>
        <Button row="2"  col = "0" class="btn btn-primary btn-ruby btn-active "  text="Delete Order Line" (tap)="deleteOrderLine(LineNumber)"></Button>
        <Button row="2"  col = "1" class="btn btn-primary btn-forest btn-active "  text="Confirm" (tap)="hideOrderLines()"></Button>
        <Label row="3" style="font-size: 20%;" colSpan = "2" class="text-center " [text]="message" verticalAligment="center" colSpan="2" textWrap="true"></Label>



        </GridLayout> 
    </StackLayout>  //ITEM END
    </ScrollView> //ITEM End
        
    <ScrollView (scroll)="onScroll($event)" [style.visibility]="AddressVisbilty"  [scrollY] ="scrollYPos" height = "3300px" > // Delivery Address START
        <StackLayout   class="form window" height = "3300px">
           
            <Label class="boxlabel"   text="Ship Name"  textWrap="true"></Label>
           <TextField  class="input input-border" hint="Ship Name" [(ngModel)]="ShipName" editable="false" ></TextField>
   
        
   
           <Label  class="boxlabel" style="text-align: center;" text="Ship Address 1" textWrap="true"></Label>
           <TextField   class="input input-border"  hint="Ship Address 1" [(ngModel)]="ShipAddress1" editable="false" ></TextField>
   
           <Label  class="boxlabel"  text="Ship Address 2" textWrap="true"></Label>
           <TextField   class="input input-border" hint="Ship Address 2" [(ngModel)]="ShipAddress2" editable="false" ></TextField>

           <Label  class="boxlabel"  text="Ship Address 3" textWrap="true"></Label>
           <TextField   class="input input-border" hint="Ship Address 3" [(ngModel)]="ShipAddress3" editable="false" ></TextField>
           
           <Label  class="boxlabel"  text="Ship Address 4" textWrap="true"></Label>
           <TextField   class="input input-border" hint="Ship Address 4" [(ngModel)]="ShipAddress4" editable="false" ></TextField>

           <Label   class="boxlabel"  text="Ship Address 5" textWrap="true"></Label>
           <TextField  (focus)="onFocus($event)"  class="input input-border" hint="Ship Address 5" [(ngModel)]="ShipAddress5" editable="false" ></TextField>



           <Label  class="boxlabel"  text="Ship City" textWrap="true"></Label>
           <TextField   class="input input-border" hint="Ship City" [(ngModel)]="ShipCity" editable="false" ></TextField>

           <Label  class="boxlabel"  text="Ship Postcode" textWrap="true"></Label>
           <TextField   class="input input-border" hint="Ship Postcode" [(ngModel)]="ShipPostCode" editable="false" ></TextField>

         
           <Button row="3" col = "0"  colSpan="2" class="btn btn-primary btn-active"   style="background-color:green;color: white;" text="Confirm" (tap)="hideDeliveryAddress()"></Button>
   
   
   
           </StackLayout> 
        </ScrollView> > // Delivery Address END

        <StackLayout  [style.visibility]="ChargeVisbilty" > // Add Charges
            <RadListView [items]="AddCharges" style="width: 100%;">
                <ng-template   let-item="item">
                   <GridLayout  columns="100,*,*,*" rows="*,*,*,*" style="width: 100%">
                       <Label row="0" col="0" style="margin: 4;" text="Add Charge"></Label>
                      
                        <TextField  [index]= "item.iIndex" style="margin: 5;"  row="1" col="0" [text]="item.AddChargeCode" editable="false" ></TextField>

                           <Label row="0" col="1" style="margin: 2;" text="Charge Value"></Label>
                            <TextField  [index]= "item.iIndex" style="margin: 5;"  row="1" col="1" [text]="item.AddChargeValue" editable="true" keyboardType ="number" (returnPress)="onReturnPressChargeValue"></TextField>

                            <Label row="0" col="2" style="margin: 2;" text="Charge Desc"></Label>
                            <TextField  [index]= "item.iIndex" style="margin: 5;"  row="1" col="2" [text]="item.AddChargeDesc" editable="false" ></TextField>
                            <Button row="1" col = "3"  colSpan="1" [index]= "item.iIndex" class="btn btn-primary btn-active"   style="background-color:red;color: white;" text="Delete" (tap)="deleteChargeCode(item.AddChargeCode)"></Button>

                        </GridLayout>

                                        
                  </ng-template>

             </RadListView>
             <Button row="3" col = "0"  colSpan="2" class="btn btn-primary btn-active"   style="background-color:green;color: white;" text="Confirm" (tap)="hideAddCharges()"></Button>
             
             <Label row="4" col="0" style="margin: 2;" text="Select a charge code to add "></Label>

             <DropDown
             class="input input-border m-t-9 m-b-5"
             backroundColor="red"
             itemsTextAlignment="center"
             [items]="AdditionalCharges"
             [(ngModel)]="selectedCustomerIndex"
             (selectedIndexChanged)="GetChargeValue($event)"
             (opened)="AddChargeCodes()"
             (closed)="onclose()"
             hint = "Select Charge Code"
             ></DropDown>

            <!-- <Button row="5" col = "0"  colSpan="2" class="btn btn-primary btn-active"   style="background-color:green;color: white;" text="Add Charge Code" (tap)="AddAddCharge()"></Button>-->

        </StackLayout> > // AddCharges End       
        
        <ScrollView (scroll)="onScroll($event)" [style.visibility]="SummaryVisbilty"  [scrollY] ="scrollYPos" height = "3300px" > // sumaary START
            <StackLayout   class="form window" height = "3300px">
  <!--  <StackLayout  [style.visibility]="SummaryVisbilty" > // Summary  start-->
        <RadListView  [style.visibility]="SummaryVisbilty"  isUserInteractionEnabled ="false" [items]="OrderItemList" height="360" >
          
            <ng-template   let-item="item">
       
                <GridLayout  columns="170,*" rows="*,*,*,*,*,*" style="padding:20;width: 100%;font-size: 20px;">
            <Label class="cell" row="0" col="0" text="Line Number:"></Label>
              <Label class="cell" row="0" col="1"  [text]="item.LineNumber"></Label>
        
              

              <Label class="cell" row="1" col="0" text="Item Code:"></Label>
              <Label class="cell" row="1" col="1" [text]="item.ItemCode"></Label>

              <Label class="cell"   row="2" col="0"  text="Quantity:"></Label>
              <Label class="cell"  row="2" col="1"   textWrap="true" [text]="item.Quantity"></Label>

              
              <Label class="cell"   row="3" col="0"  text="Price:"></Label>
              <Label class="cell"  row="3" col="1"   textWrap="true" [text]="item.Price"></Label>

              <Label class="cell"   row="4" col="0"  text="Currency:"></Label>
              <Label class="cell"  row="4" col="1"   textWrap="true" [text]="item.Currency"></Label>

              <Button  row="6" col="0" colspan = "2"  class="btn btn-primary btn-ruby btn-active "  text="Delete Line" (tap)="deleteOrderLine(item.LineNumber)"></Button>


              
           </GridLayout>

           </ng-template>

        </RadListView>
        <Label class="cell"   text="Open Value:"></Label>
        <Label class="cell"   [text]="OpenValue"></Label>

        <Label class="cell"   text="Total Vat:"></Label>
        <Label class="cell"   [text]="TotalVat"></Label>

        <Label class="cell"   text="Total Add Charges:"></Label>
        <Label class="cell"   [text]="TotalAddCharges"></Label>                
        
        <Label class="cell"   text="Total Price:"></Label>
        <Label class="cell"   [text]="TotalPrice"></Label>        

        <Button   class="btn btn-primary btn-active"   style="background-color:red;color: white;" text="Back" (tap)="hideOrderSummary()"></Button>
        <Button row="3"  colSpan="2"  class="btn btn-primary  btn-forest btn-active" text="Submit Order" (tap)="submit()"></Button>
            </StackLayout>    
    </ScrollView>  // Summary  END

   
    <GridLayout class=" p-5 m-5" rows="*, *" columns="*" borderRadius="1">
    
        <Label row="1" class="text-center " [text]="message" verticalAligment="center" colSpan="2" textWrap="true"></Label> 
        //Was used for ERROR MESSAGES. ERROR MESSAGES now display in alert boxes currently.
    </GridLayout>

 </StackLayout>
</StackLayout>