<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Stock Enquiry"></Label>
</ActionBar>

<StackLayout class="page page-content" >
    
    <StackLayout class="form window">
        <!--<Label class="boxlabel" text="Item Code" textWrap="true"></Label>-->
        <TextField class="input input-border"  hint="ItemCode" [(ngModel)]="ItemCode" editable="true" width="50%" style="margin-left: -50px;" ></TextField>
        <Image src="{{ imagesrc }}" width="30" height="30" class="action-image" ></Image>
           <!-- <Image src="~/images/castlelogo.png" width="20" height="20" class="action-image" ></Image>-->

        <!--<Label class="boxlabel" text="Warehouse Code (optional) " textWrap="true"></Label>-->
        <!--<TextField class="input input-border"  hint="WarehouseCode(optional)" [(ngModel)]="WarehouseCode" editable="true" ></TextField>-->
    <DropDown
    class="input input-border m-t-9 m-b-5"
    backroundColor="red"
    itemsTextAlignment="center"
    [items]="WarehouseCodes"
    [(ngModel)]="selectedWarehouseIndex"
    (selectedIndexChanged)="onWarehouseCodeChange($event)"
    (opened)="onWarehouseOpen()"
    (closed)="onclose()"
    hint = "Warehouse Code (Optional)"
 
    ></DropDown>        

        
        <Button class="btn btn-primary btn-active" text="Submit" (tap)="submit()"></Button>
        <Label row="1" class="text-center " [text]="message" verticalAligment="center" colSpan="2" textWrap="true"></Label>
        
 
    </StackLayout>

      

      <ActivityIndicator [style.visibility]="LoadingVisbilty" busy="true"></ActivityIndicator>

      <ScrollView orientation="horizontal">
         <RadListView [items]="ItemClassStock" style="width: 100%;">
          
             <ng-template   let-item="item">

                <GridLayout  columns="110,*,*,*" rows="*,*,*,*" style="width: 100%">
                    <Label row="0" col="0" style="margin: 2;font-weight: bold;text-align: center;" text="Storage"></Label>
                     <Label  (tap)="onTap($event)" [index]= "item.iIndex"  style="text-align: center;color: white;background-color: rgb(19, 88, 5); margin: 5;" row="1" col="0" [text]="item.Storage"></Label>

                         <Label row="0" col="1" style="margin: 2;font-weight: bold;text-align: center;" text="On Hand"></Label>
                         <Label (tap)="onTap($event)" [index]= "item.iIndex" style="text-align: center;color: white;background-color: rgb(16, 28, 136); margin: 5;" row="1" col="1" [text]="item.QuantityOnHand"></Label>

                         <Label row="0" col="2" style="margin: 2;font-weight: bold;text-align: center;" text="On PPS"></Label>
                         <Label (tap)="onTap($event)" [index]= "item.iIndex" style="text-align: center;color: white;background-color: #e00505; margin: 5;" row="1" col="2" [text]="item.QuantityOnPps"></Label>
                         
                         <Label row="0" col="3" style="margin: 2;font-weight: bold;text-align: center;" text="On Alloc"></Label>
                         <Label (tap)="onTap($event)"  [index]= "item.iIndex" style="text-align: center;color: white;background-color: #a74107; margin: 5;" row="1" col="3" [text]="item.QuantityAlloc"></Label>

                     </GridLayout>
               </ng-template>
          
          </RadListView>


          
        </ScrollView>
        
       
        <ScrollView orientation="horizontal">
            <RadListView [items]="ItemStock" style="width: 100%;">
             
                <ng-template   let-item="item">
                   <GridLayout  columns="100,*,*,*" rows="*,*,*,*" style="width: 100%">
                       <Label row="0" col="0" style="margin: 4;font-weight: bold;text-align: center;" text="Warehouse"></Label>
                        <Label (tap)="onItemStockTap($event)" [index]= "item.iIndex"    style="text-align: center;color: white;background-color: rgb(19, 88, 5); margin: 5;" row="1" col="0" [text]="item.WarehouseCode"></Label>
   
                            <Label row="0" col="1" style="margin: 2;font-weight: bold;text-align: center;" text="On Hand"></Label>
                            <Label (tap)="onItemStockTap($event)" [index]= "item.iIndex"  style="text-align: center;color: white;background-color: rgb(16, 28, 136); margin: 5;" row="1" col="1" [text]="item.cQuantityOnHand"></Label>
   
                            <Label row="0" col="2" style="margin: 2;font-weight: bold;text-align: center;" text="On PPS"></Label>
                            <Label (tap)="onItemStockTap($event)" [index]= "item.iIndex"   style="text-align: center;color: white;background-color: #e00505; margin: 5;" row="1" col="2" [text]="item.cQuantityOnPps"></Label>
                            
                            <Label row="0" col="3" style="margin: 2;font-weight: bold;text-align: center;" text="On Alloc"></Label>
                            <Label (tap)="onItemStockTap($event)" [index]= "item.iIndex"  style="text-align: center;color: white;background-color: #a74107; margin: 5;" row="1" col="3" [text]="item.cQuantityAlloc"></Label>
   
   
   
                            
   
                        </GridLayout>
                  </ng-template>
             
             </RadListView>
           </ScrollView>  
           <Label row="0" class="text-center " text="ERROR: " [visibility]="isErrorVisible ? 'visible' : 'collapsed'"
           colSpan="2" textWrap="true"></Label>
       <Label row="1" class="text-center " [text]="errormessage" verticalAligment="center" colSpan="2" textWrap="true"></Label>
</StackLayout>